<div>
    <h2>Angular Material Button</h2>
    <div>
        <button mat-button>Basic Button</button>
        <button mat-button color="primary">Primary Button</button>
        <button mat-button color="accent">Accent Button</button>
        <button mat-button color="warn">Primary Button</button>
        <br/>
        <button mat-raised-button>Basic Button</button>
        <button mat-raised-button color="primary">Primary Button</button>
        <button mat-raised-button color="accent">Accent Button</button>
        <button mat-raised-button color="warn">Primary Button</button>
        <br/>
        <button mat-stroked-button>Basic Button</button>
        <button mat-stroked-button color="primary">Primary Button</button>
        <button mat-stroked-button color="accent">Accent Button</button>
        <button mat-stroked-button color="warn">Primary Button</button>
        <br/>
        <button mat-fab>Basic Button</button>
        <button mat-fab color="primary">Primary Button</button>
        <button mat-fab color="accent">Accent Button</button>
        <button mat-fab color="warn">Primary Button</button>
    </div>
</div>