<div>
  <h2>Component Communication</h2>
  <!-- Name :<input type="text" #nameRef/><br/>
  <input type="button" value="Click Here" (click)="passValue(nameRef)"/>
  <br/>
  Name is in parent component {{pname}}
  <br/>
  
  <input type="button" value="Call Child function"
  (click)="callChildComponetData()"/>
  
  Child Age is {{cAge}}

  <hr/>
    <app-child1 [parentName]="pname"></app-child1>
  <hr/>
    <app-child2 [stdNames]="studentNames"></app-child2>
  <hr/> -->
  <hr/>
  <app-child3></app-child3>
  <hr/>
  <app-child4></app-child4>
  <hr/>
</div>